<configuration>

    <appender name="PUBSUB" class="com.RestaurantFood.FoodRestaurant.PubSubAppender">
        <projectId>	positive-water-468219-g2</projectId>
        <topicId>FoodRestaurant-logs-topic</topicId>
    </appender>

    <!-- Example: send logs to console and Pub/Sub -->
    <root level="INFO">

        <appender-ref ref="PUBSUB"/>
    </root>

</configuration>
